body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd
,input{ margin: 0; padding: 0; border: 0;}
body{ font:12px "微软雅黑";}
ul,ol{ list-style:none;}
h1,h2,h3,h4,h5,h6{ font-weight: normal; font-size: inherit;}
img{ border: none; vertical-align: top;}
i,em,span{ display:inline-block; font-style:normal;}
input,select,textarea{ outline: none;}
textarea{ resize: none;}
a{ color: inherit; display:inline-block; text-decoration: none;}

.clearfix:after{ content: ""; display:block; clear:both; height: 0;
    overflow:hidden; visibility: hidden;}
.clearfix{ zoom: 1;}